[submodule "CivModCore"]
	path = CivModCore
	url = https://github.com/CivMC/CivModCore.git
[submodule "NameLayer"]
	path = NameLayer
	url = https://github.com/CivMC/NameLayer.git
[submodule "SimpleAdminHacks"]
	path = SimpleAdminHacks
	url = https://github.com/CivMC/SimpleAdminHacks.git
[submodule "JukeAlert"]
	path = JukeAlert
	url = https://github.com/CivMC/JukeAlert.git
[submodule "ItemExchange"]
	path = ItemExchange
	url = https://github.com/CivMC/ItemExchange.git
[submodule "CivChat2"]
	path = CivChat2
	url = https://github.com/CivMC/CivChat2.git
[submodule "Citadel"]
	path = Citadel
	url = https://github.com/CivMC/Citadel.git
